#tabel1{
    
    border: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
}
#tabel1 tr td #tabel1 tr th{
    border: 3px blue double;
    padding: 15px;
}
#tabel1 tr th{
    color: brown;
    background-image: rgb(14, 12, 12);
}
#tabel1 tr:nth-child(2n){
    background-color: rgb(26, 64, 96);
}
#tabel1 tr:nth-child(2n+1){
    background-color: darkblue;
}
#tabel1 tr{
    background-color: darkslategray;
    color: #ffffff;
    
}